/* Base styles */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
    font-family: Montserrat;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fff;
    font-size: 1em;
    font-weight: 500;
}
.btn:hover{
    border: 2px solid #FB6705;
    color: #FB6705;
}
h1 {
    font-size: 2.25em;
    font-weight: 800;
    margin-bottom: 20px;
    color: #062C51;
}
.hero h1, .hot-text h1 {
    font-size: 1.8em;
    font-weight: 700;
    margin-bottom: 20px;
    color: #fff;
}

h2{
    font-size: 1.6em;
    font-weight: 700;
    color: #062C51;
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;
}
/* Header styles */
header {
    background-color: #062C51;
    padding: 10px;
}

header .container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header .logo {
    width: 8%;
    padding-top: 20px;
    padding-bottom: 2%;
    background-color: #f4f4f4;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.507) ;
    position: absolute;
    display: flex;
    justify-content: center;
    top: 0;
    left: 5rem;
    border-radius: 0 0 20% 20%;
    z-index: 200;
}

header .logo img{
    width: 80%;
}

header nav ul {
    list-style: none;
    padding: 10px;
    display: flex;
}

header nav ul li {
    margin-left: 20px;
}
header .hamburger {
    display: none;
}

header nav ul li a {
    color:#F77D0E;
    text-decoration: none;
}
header nav ul li a:hover{
    font-weight: 700;
    color: #FB6705;
}

/* Hero section styles */
.hero {
    background-color: #062C51;
    color: white;
}
.hero h1::before{
    width: 20%;
    height: 20px;
    background-color: #F77D0E;
}

.carousel {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    /* padding: 32px 0; */
    position: relative;
    background-size: cover;
    background-position: center;
}

.content {
    width: 40%;
    background-color: #062C51;
    color: white;
    padding: 20px 10px;
    margin: 10%;
    border-radius: 5px;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 32px;
    margin-top: -22px;
    color: white;
    text-decoration: none;
    font-size: 2em;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
    z-index: 2;
}

.orange{
    position: absolute;
    top: 60%;
    right: 0;
    margin-top: -22px;
    width: 50px;
    height: 30px;
    background-color: #F77D0E;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: #F77D0E;
}

.navigation-radios {
    margin-top: 10px;
}

.nav-radio {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: white;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 2px;
}

.nav-radio.active {
    width: 15px;
    height: 15px;
}


/* Hot deals section styles */
.hot-deals {
    padding-left: 50px;
    background-color: #062C51;
    height: 50vh;
}

.hot-text{
    margin-left: 50px;
    margin-top: 50px;
    color: #fff;
    width: 20%;
}
.hot-text a{
    color:#fff ;
}

.slideshow {
    transform: translateY(70px);
    width: 90%;
    z-index: 333;
    right: 0;
}
.swiper-container {
    width: 80%;
    overflow: hidden;
    position: relative;
    float:right;
  }

  .orange-bar {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 120px;
    background-color: #F77D0E;
    z-index: 1;
  }

  .swiper-wrapper {
    display: flex;
    transition: transform 0.5s ease;
    position: relative;
    z-index: 2;
  }

  .swiper-slide {
    min-width: 60%; /* Showing one and a half images */
    box-sizing: border-box;
    margin-bottom: 30px;
  }


  .swiper-slide img {
    margin-left:  10%;
    width: 90%;
    border: none;
    outline: none;
    display: block;
  }

  #prevBtn, #nextBtn {
    position: absolute;
    top: -50px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-size: 30px;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 3;
  }

  #prevBtn {
    margin-right: 70px;
  }

/* About Us section styles */
.about-us{
    margin-top: 12%;
}
.blue-bg{
    background-color: #062C51;
    padding: 20px;
    width: 35%;
    border-radius: 0 50px 50px 0;
    height: 70vh;
}
.bglight{
    transform: translateX(20%);
    background-color: #dad7d7;
    width: 100%;
    border-radius: 20px;
    padding: 20px;
    height: 50vh;
}
.bglight img{
    width:80%;
}


.about-us .container {
width: 40%;
}


/* Selling section styles */
.selling {
    position: relative;
}

.property-image{
    width: 55%;
}
.property-image img{
    width: 100%;
}
.orange-div{
    width: 80%;
    height: 40px;
    background-color: #F77D0E;
}

.property-text{
    width: 40%;
}

 .btn {
    background-color: #FB6705;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 2px;
}
.inverstment-text{
    width:70%; 
    margin: 5%;   
}
.inverstment-text .blue-bg{
    position: absolute;
    border-radius: 0;
    height: 15vh;
    right: 0;
    bottom: 0;
    width: 60%;
    z-index: 1;
}
.inverstment-image{
    width: 40%;
    z-index: 3;
}
/* Why Choose Us section styles */




/* Team section styles */
.team {
    padding: 50px 0;
}

.team .team-members {
    display: flex;
    justify-content: space-around;
}

.team .team-member {
    padding: 20px;
    width: 30%;
    background-color: antiquewhite;
}
.round{
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 50%;
    background-color: #6e6d6d;
}
.team .team-member:first-child{
    padding: 20px;
    font-size: calc(inherit + .5em);
    height: 60vh;
    background-color: #F77D0E;
    color: #fff;
}
.team .team-member:first-child a{
    color: #fff;
}


.titel{
    display: flex;
    align-items: center;
}
.titel h2{
    margin: 0;
}

.team .team-member img {
    max-width: 100%;
    height: auto;
}

.team .team-member h3 {
    margin: 10px 0;
}

.team .team-member p {
    margin-bottom: 10px;
}

.team .team-member a {
    color: #FB6705;
}
.team .team-member a:hover {
    color: #Fff;
}
/* Newsletter section styles */
.newsletter {
    padding: 50px 0;
}

.newsletter .container {
    text-align: center;
    width: 50%;
}




/* Footer styles */
footer {
    background-color: #062C51;
    color: white;
    padding: 40px 0;
    font-weight: 200;
}

footer h3{
    color: #fff;
}

.footer-logo, .footer-help, .footer-connected, .footer-posts, .footer-services  {
    width: 20%;
}
.footer-logo img{
    width: 80%;
}

.footer-content h3 {
    margin: 10px 0;
}

.footer-content ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

.footer-content ul li {
    margin-bottom: 30px;
}

.footer-content ul li a {
    color: white;
    text-decoration: none;
}

.footer-bottom {
    text-align: center;
    margin-top: 50px;
}


.fixed-logo{
    width: 10%;
}





/* explore page */
.querry {
    flex-direction: column;
    width: 24%;
}

.querry label {
    margin-bottom: 8px;
    font-weight: bold;
    color: #062C51;
}

.querry select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.hero-section {
    width: 100%;
    justify-content: center;
    position: relative;
}

.hero-section h1{
    position: absolute;
    top: 30%;
    left: 38%;
    width: 25%;
    font-style: italic;
    text-align: right;
}

.hero-section h1 {
    font-size: 3rem;
    font-weight: bold;
}


/* Slideshow container */
.slideshow-container {
    max-width: 800px;
    position: relative;
  }
  .mySlides{
  width:80%;
  margin: 0 auto;
  }
  
  .mySlides img{
  padding:1%;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: gold;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  

.video-section {
    background: #ff6600;
    color: white;
    display: flex;
    width: 60%;
    position: absolute;
    top: -90%;
    transform: translateX(35%);
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    height: 40vh;
}



/* Responsive styles */
@media (max-width: 768px) {
    .video-section {
    width: 70%;
    top: -45%;
    transform: translateX(20%);
    height: 25vh;
}
    /* Header start*/
    header .logo {
        width: 15%;
        padding-top: 20px;
        padding-bottom: 5%;
        left: 2rem;
    }

    header nav ul {
        flex-direction: column;
        position: absolute;
        width: 60%;
        top: 60px;
        right: 0px;
        height: 70vh;
        background-color: #062c51;
        padding: 50px;
        text-align: center;
        display: none;
    }

    header nav ul li {
        margin: 10px 0;
    }
    header nav ul li a {
        color: #fff;
    }
    header .hamburger {
        display: block;
        z-index: 22;
        color: #fff;
        font-size: 30px;
        font-weight: 0;
        cursor: pointer;
    }

    header nav ul.show {
        display: flex;
        z-index: 4444;
        transition: 1s ease-out;
    }
    /* Header ends*/


    /* hero start */
    
.content {
    width: 80%;
}

.prev, .next {
    top: 40%;
}
.orange{
    top: 53%;
}
    /* hero ends */

    /* hot deals */
    .hot-deals{
        flex-direction: column;
    }
    .hot-deals {
        padding: 0 50px;
        height: auto;
    }
    
    .hot-text{
        width: 100%;
        text-align: center;
        margin: 10px auto;
    }
    .hot-text a{
        color:#fff ;
    }
    
    .slideshow {
        transform: translateX(-15%);
        width: 100%;
        position: static;
        margin: 0 auto;
    }
    .orange-bar {
        display: none;
      }
   
      .swiper-slide {
        min-width: 100%; /* Showing one and a half images */
      }
    
      #nextBtn {
        top: 40%;
        right: -70px;
      }
      #prevBtn{
        right: 65%;
        top: 40%; 
      }
    /* hot deals ends */

    /* About Us */
    .about-us{
        flex-direction: column-reverse;
    }
    .about-us .container{
        width: 90%;
        height: auto;
    }
    .blue-bg {
        margin-top: 20px;
        width: 100%;
        border-radius: 0;
        height: auto;
    }
    .bglight{
        width: 80%;
        height: auto;
        border-radius: 2px;
        transform: translateX(0);
    }

    .sell{
       flex-direction: column-reverse; 
    }
    .property-image{
        width: 100%;
    }

    .property-text{
        width: 100%;
        padding: 20px;
    }
    h2{
        text-align: center;
        font-size:2em;
    }

    .investment{
        flex-direction: column;
    }

    .inverstment-text{
        width:100%;   
    }
    .inverstment-text .blue-bg{
        width: 100%;
        z-index: 1;
    }
    .inverstment-image{
        width: 100%;
        z-index: 3;
    }

    .why-choose-us .stats {
        flex-direction: column;
    }

    .team .team-members {
        flex-direction: column;
    }
    .team .team-member {
        padding: 20px;
        width: 80%;
        margin-bottom: 20px;
        background-color: antiquewhite;
    }
    .team .team-member:first-child {
        height: auto;
    }
    .newsletter .container {
        width: 90%;
    }
    .footer-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .footer-logo, .footer-help, .footer-connected, .footer-posts, .footer-services {
        width: 80%;
    }
    .footer-content ul li {
        margin-bottom: 5px;
    }
    .hero-section h1 {
        font-size: 1rem;
    }
}
